<p>
  <%= f.label :empid %><br />
  <%= f.text_field :ourid %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :hiredate %><br />
  <%= f.datetime_select :hiredate %>
</p>
<p>
  <%= f.label :terminated %><br />
  <%= f.datetime_select :terminated %>
</p>
<p>
  <%= f.label :supervisor %><br />
  <%= f.text_field :supervisor %>
</p>
<p>
  <%= f.label :beg_time %><br />
  <%= f.datetime_select :beg_time %>
</p>
<p>
  <%= f.label :rememberlast %><br />
  <%= f.check_box :rememberlast %>
</p>
<p>
  <%= f.label :client %><br />
  <%= f.text_field :client %>
</p>
<p>
  <%= f.label :project %><br />
  <%= f.text_field :project %>
</p>
<p>
  <%= f.label :task %><br />
  <%= f.text_field :task %>
</p>
<p>
  <%= f.label :security %><br />
  <%= f.text_field :security %>
</p>
<p>
  <%= f.label :supervisor_note_expires %><br />
  <%= f.datetime_select :supervisor_note_expires %>
</p>
<p>
  <%= f.label :supervisor_note_onlyonce %><br />
  <%= f.check_box :supervisor_note_onlyonce %>
</p>
<p>
  <%= f.label :supervisor_note_active %><br />
  <%= f.check_box :supervisor_note_active %>
</p>
<p>
  <%= f.label :supervisor_note %><br />
  <%= f.text_area :supervisor_note %>
</p>
<p>
  <%= f.label :last_login %><br />
  <%= f.datetime_select :last_login %>
</p>
