<p>
  <b>Controlid:</b>
  <%=h @control.controlid %>
</p>

<p>
  <b>Recid:</b>
  <%=h @control.recid %>
</p>


<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>