  <%= f.error_messages %>

  <p>
    <%= f.label :empid %><br />
    <%= f.text_field :empid %>
  </p>
  <p>
    <%= f.label :beg_date %><br />
    <%= f.datetime_select :beg_date %>
  </p>
  <p>
    <%= f.label :beg_time %><br />
    <%= f.datetime_select :beg_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :off_time %><br />
    <%= f.text_field :off_time %>
  </p>
  <p>
    <%= f.label :personal_time %><br />
    <%= f.text_field :personal_time %>
  </p>
  <p>
    <%= f.label :total_time %><br />
    <%= f.text_field :total_time %>
  </p>
  <p>
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </p>
  <p>
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </p>
  <p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </p>
  <p>
    <%= f.label :billable %><br />
    <%= f.check_box :billable %>
  </p>
  <p>
    <%= f.label :timecard %><br />
    <%= f.check_box :timecard %>
  </p>
  <p>
    <%= f.label :bug_nbr %><br />
    <%= f.text_field :bug_nbr %>
  </p>
  <p>
    <%= f.label :case_nbr %><br />
    <%= f.text_field :case_nbr %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :dt_create %><br />
    <%= f.datetime_select :dt_create %>
  </p>
  <p>
    <%= f.label :dt_edit %><br />
    <%= f.datetime_select :dt_edit %>
  </p>